* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	background-color: hsl(240, 78%, 98%);
	background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
	background-position: top right, bottom left;
	background-repeat: no-repeat;
}

.our-pricing {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-size: 24px;
	font-weight: 700;
	color: hsl(233, 13%, 49%);
}

.container {
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	top: 15%;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	color: hsl(234, 14%, 74%);
	font-size: 18px;
	font-weight: 650;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 35px;
	margin: 0 10px;
}

.slider {
	position: absolute;
	cursor: pointer;
	background-image: linear-gradient(
		to right,
		hsl(245, 21%, 78%),
		hsl(237, 63%, 64%)
	);
	border-radius: 30px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.switch input {
	display: none;
}

.slider::before {
	position: absolute;
	content: '';
	height: 25px;
	width: 25px;
	left: 5px;
	bottom: 5px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50px;
}

input:checked + .slider::before {
	transform: translateX(25px);
}

.slider:hover {
	background: hsl(234, 14%, 74%);
}

.card-holder-annual {
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 120px;
}

.plan {
	color: hsl(233, 13%, 49%);
	margin: 0 5px;
	font-size: 15px;
	font-weight: 550;
	line-height: 60px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 300px;
	border-radius: 12px;
	border: 2px solid white;
	background-color: white;
	transition: ease 0.5s;
}

.center-plan {
	color: white;
	margin: 0 5px;
	font-size: 15px;
	font-weight: 550;
	line-height: 60px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 350px;
	border-radius: 12px;
	border: 2px solid white;
	background-image: linear-gradient(
		to bottom right,
		hsl(236, 72%, 79%),
		hsl(251, 62%, 58%)
	);
	transition: ease 0.5s;
	padding: 30px;
}

.center-pricing {
	color: hsl(0, 0%, 100%);
	font-size: 46px;
	font-weight: 700;
	line-height: 200%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.center-dollar-price {
	color: hsl(0, 0%, 100%);
	font-size: 24px;
	font-weight: 700;
}

.center-plan:hover {
	color: white;
	transform: scale(1.1);
	z-index: 1;
	box-shadow: 2px 2px 5px rgb(161, 163, 241);
}

.center-plan:hover .center-learn-more-button {
	color: hsl(233, 13%, 49%);
	background-image: none;
}

.center-plan:hover > .center-learn-more-button:hover {
	border: 2px solid white;
	background: transparent;
	color: white;
}

hr {
	min-width: 100%;
	color: rgb(236, 236, 236);
	background: rgba(194, 194, 194, 0.199);
}

.pricing {
	color: hsl(232, 13%, 33%);
	font-size: 46px;
	font-weight: 700;
	line-height: 200%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.dollar-price {
	color: hsl(232, 13%, 33%);
	font-size: 24px;
	font-weight: 700;
}

.plan:hover {
	transform: scale(1.1);
	z-index: 1;
	box-shadow: 2px 2px 5px rgb(161, 163, 241);
}


.plan:hover > .learn-more-button:hover {
	color: hsl(237, 63%, 64%);
	border: 2px solid white;
	background: transparent;
	border-color: hsl(237, 63%, 64%);
}

.learn-more-button {
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	font-size: 15px;
	background-color: white;
	margin: 15px 0;
    background-image: linear-gradient(
		to right,
		hsl(245, 21%, 78%),
		hsl(237, 63%, 64%)
	);
}

.center-learn-more-button {
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: hsl(233, 13%, 49%);
	font-size: 15px;
	background-color: white;
	margin: 15px 0;
}

@media screen and (max-width: 375px) {
	.plan {
		max-width: 85vw;
		margin-bottom: 30px;
	}
	body {
		background-image: url(./images/bg-top.svg);
		background-position: top right;
		background-repeat: no-repeat;
		background-position-x: right -180px;
		background-position-y: top -80px;
	}
}
